<h2>Van alles</h2>

<app-autocomplete [data]="drivers!" (select)="handleAutocompleteSelect($event)"></app-autocomplete>

<button (click)="showLifecycle = !showLifecycle">Toggle lifecycle</button>

<div *ngIf="showLifecycle">
	<app-lifecycle message="Hier mijn message"></app-lifecycle>
</div>

<h2>Pokémon</h2>

<div style="width: 400px; height: 300px; background: lightpink;" (mousemove)="move()">hover hier</div>

<button (click)="appendPokemonName()">Vul naam aan</button>

<div *ngIf="pokemon">
	Naam: {{pokemon.name}}
</div>

<app-pokedex [pokemon]="pokemon"></app-pokedex>
