<h1>Demo-app</h1>

<h2>Pokémon</h2>

<div *ngIf="pokemon">
	Naam: {{pokemon.name}}
</div>


<h2>Zooi</h2>

<app-autocomplete [data]="drivers" (select)="handleAutocompleteSelect($event)"></app-autocomplete>




<button (click)="showLifecycle = !showLifecycle">Toggle lifecycle</button>

<div *ngIf="showLifecycle">
	<app-lifecycle message="Hier mijn message"></app-lifecycle>
</div>

<h2>Coureurs</h2>

<div class="form-container">
	<form (ngSubmit)="addDriverTemplate()" #templateForm="ngForm">
		<h2>Template-driven (FormsModule)</h2>

		<ol>
			<li>
				<label for="input-coureur-template">Coureur:</label>
				<input id="input-coureur-template"
				       required
					   pattern="^[a-zA-Z -]+$"
					   [(ngModel)]="newDriver.name"
					   name="name"
					   #inputName="ngModel">
				<span *ngIf="inputName.touched && inputName.invalid">*</span>
				<span *ngIf="inputName.touched && inputName.errors?.['required']">Vul in aub</span>
				<span *ngIf="inputName.touched && inputName.errors?.['pattern']">Alleen letters en spaties en streepjes graag</span>
			</li>
			<li>
				<label for="input-points-template">Punten:</label>
				<input type="number" id="input-points-template"
				       [(ngModel)]="newDriver.points"
					   name="points"
					   required>
			</li>
			<li>
				<label for="input-photo-url-template">Foto url:</label>
				<input id="input-photo-url-template"
				       [(ngModel)]="newDriver.photoUrl"
					   name="photoUrl"
					   required>
			</li>
			<li>
				<button [disabled]="templateForm.invalid">Voeg coureur toe</button>
			</li>
			<li>
				valid: {{templateForm.valid}}
				<pre>{{newDriver | json}}</pre>

				errors:
				<pre>{{inputName.errors | json}}</pre>
			</li>
		</ol>
	</form>

	<form (ngSubmit)="addDriverReactive()" [formGroup]="addDriverForm" id="reactive-form">
		<h2>Model-driven (ReactiveFormsModule)</h2>

		<ol>
			<li>
				<label for="input-coureur">Coureur:</label>
				<input id="input-coureur" formControlName="name">
				<span *ngIf="addDriverForm.controls['name'].touched && addDriverForm.controls['name'].invalid">*</span>
				<span *ngIf="addDriverForm.controls['name'].touched && addDriverForm.controls['name'].errors?.['required']">Vul in aub</span>
				<span *ngIf="addDriverForm.controls['name'].touched && addDriverForm.controls['name'].errors?.['pattern']">Alleen letters en spaties en streepjes graag</span>
			</li>
			<li>
				<label for="input-points">Punten:</label>
				<input type="number" id="input-points" formControlName="points">
			</li>
			<li>
				<label for="input-photo-url">Foto url:</label>
				<input id="input-photo-url" formControlName="photoUrl">
			</li>
			<li>
				<button [disabled]="addDriverForm.invalid">Voeg coureur toe</button>
			</li>
			<li>
				valid: {{addDriverForm.valid}}
				<pre>{{addDriverForm.value | json}}</pre>

				errors:
				<pre>{{addDriverForm.controls['name'].errors | json}}</pre>
			</li>
		</ol>
	</form>
</div>


<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Coureur</th>
			<th>Punten</th>
			<th>Foto</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let driver of drivers"
			[class.goed]="driver.points > 350"
			(click)="driver.points = driver.points + 10">
			<td>{{driver.id}}</td>
			<td>{{driver.name}}</td>
			<td>{{driver.points}}</td>
			<td><img [src]="driver.photoUrl"></td>
		</tr>
	</tbody>
</table>
